.grid {
    display: flex;   /* <--- required */

}

.column {
    flex: 1; /* <--- required (style column to fill the same space as the other columns) */
}

.row {
    flex:1;
    background: white;
    text-align: center;
    border: 1px;
    border-color: black;
    border-style:solid;
}